@page "/counter"
@* @rendermode InteractiveServer *@
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>@Name</h1>

<p role="status">Current count: @currentCount</p>
<p>@(DateTime.Now)</p>
@((MarkupString)"<span>Hello World</span>")

<p>@(MyGenericMethod<string>())</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    public string Name = "Counter";
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private T MyGenericMethod<T>()
    {
        return default(T);
    }
}
